@charset "UTF_8";/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




/* general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* colors 
      w = weak
      m = medium
      b = brown

      s = strong
    */

    --white: #FFF;
    --wwhite: #EDEFF7;
    --mwhite: #DFE1E8;
    --bwhite: #EDE4E4; /* kinda like a white brown */

    --wblue: #C4CBE3;
    --sblue: #B5CFE6;
    
    --black: #000;
    --wblack: #181818;

    --red: #FF424F;


    /* fonts */
    --rFont: "Montserrat", sans-serif;
    --sFont: "Montserrat Alternates", sans-serif;
}

body, html {
    width: 100%;
}

html {
    height: 100vh;
    z-index: ;
}

body {
    height: 100%;
    z-index: -1;
}


/* reusable classes */
.v-flex {
    display: flex;
    align-items: center;
}

.txt-center {
    text-align: center;
}

.abs {
    position: absolute;
}




/* general settings in doc */
#mHeader, #mFooter { /* main header */
    justify-content: space-between;
    width: 100%;

    font-family: var(--sFont);

    background-color: var(--wwhite);
    box-shadow: 0.5px 0.5px 2px #18181811;
}

body {
    background-color: var(--wLilac);
}

#mCon { /* main content */
    position: relative;
    margin-top: 55px;
    
    height: calc(100vh - 95px);
    min-height: 400px;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    color: var(--red);
}




/* mixes */
.ico {
    display: inline-block;
    background-size: cover;
}




/* header */
#mHeader {
    position: fixed;
    top: 0;
    height: 55px;
}


#sTitle, #mIcon {
    margin: 0px 15px;
}

#sTitle { /* site title */
    font-size: 40px;
    font-weight: 500;
}

#mIcon { /* menu icon */
    background-image: url(../media/icons/menu-icon.png);

    width: 40px;
    height: 40px;

    cursor: pointer;
    align-self: center;
}

#mIconBox {
    display: flex;
    justify-content: center;

    height: 55px;
} 




/* mobile menu */
/* before touch */
#mobMenu-sec {
    display: flex;
    align-self: flex-start;

    position: absolute;
    right: 0;
}

#mobMenu {
    display: none;
    list-style-type: none;
}

.mArea { /* menu area */
    display: flex;
    align-items: center;
    
    height: 60px;
    width: 100%;

    background-color: var(--wwhite);
}

.mArea:hover {
    color: var(--white);
    background-color: var(--wblack);
}

.mArea > span {
    font-size: 40px;
    margin: 25px;
}

.mArea:nth-of-type(3) > span{
    font-size: 90px;
}

.mArea > p {
    font-size: min(15px, 3vw);
    margin: 0 25px 0 0;
}


/* after touch / activate mob menu */
.mmActive#mobMenu {
    display: block;
}

.mmActive#mobMenu-sec {
    flex-direction: column;

    height: 100vh;
    width: 60%;
    max-width: 250px;

    background-color: var(--wwhite);
}




/* footer */
#mFooter {    
    font-size: min(12px, 4vw);

    min-height: 40px;
    box-shadow: -0.5px -0.5px 2px #18181810;
}

#mFooter > nav > a {
    margin: 0px 10px;
}

#mFooter > nav > a:nth-of-type(1) {
    margin-left: 25px;
}

#cIcon { /* copy icon */
    background-image: url(../media/icons/copy-icon.png);

    width: 12.5px; /* == 25px/2 */
    height: 12.5px;
    margin: 0 5px;
}

#glevA {
    font-size: min(8px, 3vw);

    display: flex;
    align-items: center;

    margin: 0 25px;
}

