@charset "UTF-8";


@media screen and (min-width: 768px) {
    /* header */
    #mIcon, #searchIcoA > p, .mArea > span {
        display: none;
    }

    #mCon {
        min-height: 500px;
    }


    /* menu */
    #mobMenu-sec {
        align-self: center;

        height: 100%;
        right: 50%;
        transform: translateX(50%);
    }

    #mobMenu{
        display: flex;
        height: 100%;
    }


    /* menu boxes */
    .mArea {
        height: 100%;
        width: 150px;

        justify-content: center;
    }

    .mArea:hover {
        font-weight: 600;

        color: var(--wblack);
        background-color: transparent;
        border-radius: 500px;
        
        transition: ease 250ms;
    }

    .mArea > span, .mArea > p {
        margin: 0;
    }

    #searchIco {
        display: block;
    }

    #searchIcoA {
        width: fit-content;
        padding: 0px 15px;
        border-radius: 100%;
    }

    #searchIcoA:hover {
        background-color: #ffffff98;
    }
}


