@charset "UTF-8";


@media screen and (min-width: 768px) {
    /* general */
    body {
        background-color: var(--strongestGrey);
    }


    /* consertar bug:
    quando a altura da tela é muito pequena, a imagem de fundo fica parcialmente omitida
    
    */
    #mCon::before {
        content:"";
        position: absolute;
        
        background-image: url(../media/img/f-background.jpg);
        background-size: cover;
        background-attachment: fixed;
        
        width: 100%;
        height: 100%;

        z-index: -1;
        opacity: 0.25;
    }

    #photoE-title {
        margin-top: 50px;
    }




    /* header */
    #mIcon, #searchIcoA > p, .mArea > span {
        display: none;
    }




    /* menu */
    #mobMenu-sec {
        align-self: center;

        height: 100%;
        right: 50%;
        transform: translateX(50%);
    }

    #mobMenu{
        display: flex;
        height: 100%;
    }


    /* menu boxes */
    .mArea {
        height: 100%;
        width: 150px;

        justify-content: center;
    }

    .mArea:hover {
        color: var(--black);
        background-color: var(--medGrey);

        font-weight: 600;

        transition: ease 250ms;
    }

    .mArea > span, .mArea > p {
        margin: 0;
    }

    #searchIco {
        display: block;
    }

    #searchIcoA {
        width: fit-content;
        padding: 0px 15px;
    }

}


