@charset "UTF-8";

/* general */
body {
    background-image: linear-gradient(var(--bwhite), var(--wblue));
}


/* main content */
.amSection { /* a main section */
    background-color: var(--wwhite);
    box-shadow: 0.5px 4px 4px #2222223f;

    display: flex;
    align-items: center;
    justify-content: center;

    height: fit-content;

    width: 80%;
    max-width: 400px;
    
    padding: 5vh 0px 10vh 0px;
}



/* Resoluções com alturas muito pequenas */
@media screen and (max-height: 500px) {
    body {
        background-attachment: fixed;
    }

    
    /* main content */
    #mCon {
        display: flex;
        align-items: start;

        margin: 65px auto 0px 0px;
        
        min-height: 320px;
        max-height: 400px;
    }


    /* main footer */
    #mFooter {
        position: static;
        margin-top: 30vh;
    }
}




