@charset "UTF-8";

/* general */
body {
    background-image: linear-gradient(var(--bwhite), var(--wblue));
}


/* main content */
.amSection { /* a main section */
    background-color: var(--wwhite);
    box-shadow: 0.5px 4px 4px #2222223f;

    display: flex;
    align-items: center;
    justify-content: center;

    height: fit-content;
    min-height: 360px;
    max-height: 600px;

    width: 80%;
    max-width: 400px;

    padding: 5vh 0px;
}



/* title */
#photoE-title {
    font: normal min(48px, 12.5vw) var(--sFont);
    text-align: right;
}

#photoE-E {
    color: var(--red);

    font-size: min(64px, 17.5vw);
    font-weight: 600;
}

#slog { /* slogan */
    font: normal min(12px, 5vw) var(--sFont);
    font-weight: 400;
    margin-right: 1px;

    transform: translateY(-25%);

    text-align: right;
}




/* Resoluções com alturas muito pequenas */
@media screen and (max-height: 550px) {
    body {
        background-attachment: fixed;
    }

    
    /* main content */
    #mCon {
        display: flex;
        align-items: start;

        margin: 65px auto 0px 0px;
        
        min-height: 320px;
        max-height: 400px;
    }


    /* main footer */
    #mFooter {
        position: static;
        margin-top: 100px;
    }
}




