@charset "UTF-8";


/* Mobile first*/
/* -------------------------------------------- */
/* form */
#loginF {
    font-family: var(--rFont);

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
}


/* inputs */
#loginF input{ /* login input box */    
    border-radius: 25px;
    border: none;
}

#logEmail, #logPass {
    width: 90%;
    height: 30px;

    padding: 0px 5%;
}

#logEmail {
    margin-bottom: 12.5px;
}




/* sections and elements that are relative to sections */
#loginF > section {
    width: calc(100% - 2px);
    margin: 0px 1px;
}

#loginF > section:nth-of-type(3) {
    display: flex;
    justify-content: space-between;
}

#loginF > section:nth-of-type(2) > div {
    display: flex;
    justify-content: flex-end;
}

#lDataB {
    display: block;
    text-align: right;

    margin-top: 5px;
    margin-bottom: 40px;

    font-weight: 300;
    font-size: 0.8em;
   
    width: fit-content;
}




/* form buttons */
#l-confirm, #l-sign {
    color: var(--white);

    width: 48%;
    height: 30px;

    padding: 0px 5px;
    margin-bottom: 20px;

    box-sizing: border-box;
}

#l-sign { /* login sign anchor */
    margin-right: 4%;
    background-color: var(--wblack);
}

#l-confirm { /* login confirm button */
    background-color: var(--red);
}

#l-confirm:hover, #l-sign:hover {
    cursor: pointer;
    transition: all 0.25s;

    color: var(--black);
    background-color: var(--white);
    
    border: 2px solid var(--sblue);
}



