@charset "UTF-8";


/* Mobile first*/
/* -------------------------------------------- */

/* main content */
#mBlockLogin {    
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

#photoE-title {
    font: normal 2.5em var(--sFont);
    text-align: right;

    width: fit-content;
}

#photoE-E {
    font-size: 1.25em;
    font-weight: 600;

    color: var(--red);
}

#slog { /* slogan */
    text-align: right;
    transform: translateY(-25%);  
  
    font: normal 0.75em var(--sFont);
    font-weight: 400;
    margin-right: 1px;
}




/* form */
#loginF {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;

    font-family: var(--rFont);
}

#loginF > section {
    width: 100%;
}

#loginF > section:nth-of-type(2) > div {
    display: flex;
    justify-content: flex-end;
}

#loginF > section:nth-of-type(3) {
    display: flex;
    justify-content: space-between;
    
}


/* form buttons */
#lDataB {
    display: block;
    text-align: right;

    margin: 0px 5px 40px;   
    width: fit-content;

    font-weight: 200;
    font-size: 0.8em;
}

#l-confirm, #l-sign {
    width: 48%;
    height: 30px;
    
    box-sizing: border-box;
    color: var(--white);
}

#l-sign { /* login sign anchor */
    margin-right: 4%;
    background-color: var(--wblack);
}

#l-confirm { /* login confirm button */
    background-color: var(--red);
}

#l-confirm:hover, #l-sign:hover {
    cursor: pointer;
    background-color: var(--wblue);
    color: var(--white);

    transition: all 0.25s;
}



/* inputs */
#loginF input{ /* login input box */    
    border-radius: 25px;
    border: none;
}

/* dificuldade
        ||
    arrumar o padding dos inputs de email e senha que aumentam a largura do loginF e outros elemntos filhos
    
    (não consegui encontrar uma solução, mesmo com box-sizing: border-box ) 
*/

#logEmail, #logPass {
    height: 25px;
    padding: 0 15px;
}

#logEmail, #logPass, #loginF, #slog {
    width: calc(100% - 30px);
    box-sizing: content-box;
}

#logEmail {
    margin-bottom: 12.5px;
}


/* Telas muito pequenas */
@media screen and (max-height: 550px) {
    #mCon {
        min-height: 500px;
        margin-top: 55px;
    }

    #mFooter {
        margin-top: 2vh;
        position: static;
    }
}






