@charset "UTF_8";
/* utilizando as medidas
    320px -- 768px | mobile
    768px -- 992px | tablet
    992px -- 1200px | laptop
    +1200px | pc / tv
*/

/* medium or big screens */
@media screen and (min-width: 768px) {   
    /* main content */
    #mCon::before {
        background-image: url(../../media/img/mBg-incomplete.jpg);
    }

    #photoE-title, #slog {
        text-align: center;
        width: 100%;
    } 

    .amSection {
        min-width: 600px;
        width: 50vw;
        max-width: 900px;

        padding: 5vh 0px 15vh 0px;
    }
    
    #mBlockLogin {
        width: 80%;
        max-width: 500px;
    }




    /* form buttons */
    #l-confirm, #l-sign {
        width: 49%;
    }

    #l-sign {
        text-align: left;
        margin-right: 2%;
        padding-left: 15px;
    }

    #l-confirm {
        text-align: right;
        padding-right: 15px;
    }

    #logEmail, #logPass {
        height: 35px;
    }
}


